{{!-- <div>
    <h2>prod1</h2>
    <p>
        <b>100$</b>, rest: 10
    </p>
</div>
<div>
    <h2>prod2</h2>
    <p>
        <b>100$</b>, rest: 20
    </p>
</div>
<div>
    <h2>prod3</h2>
    <p>
        <b>300$</b>, rest: 30
    </p>
</div> --}}


<div>
    {{#each prods}}
    <h2>{{name}}</h2>
    <p>
        <b>{{cost}}</b>{{rest}}
    </p>
    {{/each}}
</div>